

@import url(./colours.css);

@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("../fonts/Mulish-VariableFont_wght.ttf");
font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("../fonts/Mulish-Italic-VariableFont_wght.ttf");
font-style: italic;
}

:root {
  /* colours as used */
  --fg-colour: var(--dark-grey);
  --bg-colour: var(--white);
  --primary-colour: var(--deep-red);
  --secondary-colour: var(--mid-orange);
  --highlights: var(--tarnished-gold);
  /* sizes */
  --content-width: 57rem;
  --heading-family: Catamaran, sans-serif;
  --body-family: Mulish, sans-serif;
}

*, *::after, *::before  {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background: var(--bg-colour);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-family);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  font-optical-sizing: auto;
  color: var(--fg-colour);
}

body > header {
  max-width: var(--content-width);
  margin: 0 auto;
}
body > header p {
  display: flex;
  align-items: center;
  background: var(--fg-colour);
  color: var(--bg-colour);
  font-family: var(--heading-family);
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1rem;
  line-height: 1;
  margin: 0;
}
body > header p img {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--bg-colour);
  margin-right: 1rem;
}
body > header a {
  /* display: inline-block; */
  color: var(--bg-colour);
  font-weight: inherit;
  text-decoration: none;
  pointer-events: auto;
}
body > header a:hover {
  color: inherit;
}
body > header a > span {
  color: var(--secondary-colour);
}

body > nav {
  max-width: var(--content-width);
  margin: 0 auto 5.5rem auto;
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav li {
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border-left: 0.5rem solid var(--fg-colour);
  transition: all 0.2s;
}
nav li.current {
  color: var(--secondary-colour);
  cursor: default;
}
nav a {
  display: inline-block;
  color: var(--fg-colour);
  text-decoration: none;
  padding-right: 0.5rem;
}
nav a:hover {
  color: var(--bg-colour);
}
nav li:hover {
  background-color: var(--fg-colour);
}
nav li.current a:hover {
  color: inherit;
}
nav li.current:hover {
  background-color: inherit;
}

main {
  max-width: var(--content-width);
  margin: 1rem auto 0 auto;
  padding: 0 1rem 3rem 1rem;
}

main img {
  max-width: 100%;
  height: auto;
}

article > header {
  padding: 0;
  margin: 0 0 1rem 0;
}
h1 {
  font-family: var(--heading-family);
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.meta {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}
.meta a {
  font-style: normal;
  text-decoration: none;
}
article > img, article > a > img {
  margin: 0 auto;
  display: block;
  background: var(--primary-colour);
}
article > p:last-child::after
article > section:last-child > p:last-child::after {
  content: " ∎";
  color: var(--secondary-colour);
}
h2, h3 {
  margin-bottom: 0;
  font-family: var(--heading-family);
}
h2 + *, 
h3 + * {
  margin-top: 0;
}
b, strong {
  font-weight: bold;
}

a {
  color: var(--secondary-colour);
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: all .2s;
}
a:hover {
  text-decoration-thickness: 3px;
  color: var(--primary-colour);
}

body p {
  overflow-wrap: break-word;
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--secondary-colour);
  margin-left: 0;
  padding-left: 2rem;
}

article > hr {
  border: 0;
  margin-bottom: 4rem;
}
article > hr::after {
  content: "⁂";
  display: block;
  text-align: center;
  font-size: 2rem;
  color: var(--secondary-colour);
}

body > footer {
  max-width: var(--content-width);
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  text-align: right;
  font-size: 0.8rem;
}
body > footer a {
  text-decoration: none;
}
pre {
  overflow-x: scroll;
}

a.person-card {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding: 0.4rem;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 0.4rem;
}
a.person-card img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.4rem;
}
a.person-card:hover {
  /* background-color: var(--secondary-colour); */
  color: var(--secondary-colour);
  border-color: var(--secondary-colour);
}

.person-page {
  display: flex;
}
.person-pic {
  padding-right: 1rem;
  min-width: 256px;
}
.person-pic img {
  width: 256px;
  border-radius: 50%;
}

ul.contains-task-list {
  padding-left: 1rem;
}
li.task-list-item {
  list-style-type: none;
}

@media only screen and (max-width:500px) {
  body > header p {
    font-size: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  body {
    font-size: 1.1rem;
    font-weight: normal;
  }
}
