<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noai, noimageai">
    <title>{{ title }} — standards.group</title>
    <link rel="stylesheet" href="/css/sg.css">
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body class="{{  (tags or []) | join(' ')  }}">
    <header>
      <p>
        <img src="/img/logo.svg" alt="Standards Group logo" wi>
        <a href="/">Standards<span>/</span>Group</a>
      </p>
    </header>
    <nav>
      {% set nav = [
          { label: 'Home', url: '/' },
          { label: 'Groups', url: '/wg/' }
        ]
      %}
      <ul>
        {% for entry in nav %}
          <li class="{{ 'current' if entry.url === page.url else 'link' }}">
            {% if entry.url === page.url %}
              <span>{{ entry.label }}</span>
            {% else %}
              <a href="{{ entry.url }}">{{ entry.label }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    {% macro pageMeta() %}
      <div class="meta">
        updated <time datetime="{{ page.date.toISOString() }}">{% date %}</time>
        ⋅
        <a href="https://github.com/darobin/standards.group/blob/main/{{ page.inputPath | replace('./', '') }}" target="_blank">edit</a>
      </div>
    {% endmacro %}
    <main>
      <article>
        <header>
          <h1>{{ title }}</h1>
          {{ pageMeta() if page.url !== "/" }}
        </header>
        {% block body %}
          {{ content | safe }}
        {% endblock %}
        {{ pageMeta() if page.url === "/" }}
  </article>
    </main>
    <footer>
      Made with 🪐 by the IPFS Foundation.
    </footer>
  </body>
</html>
