
{% extends './page.njk' %}

{% block body %}
<div class="person-page">
  {% if pic %}
  <div class="person-pic">
    <img src="{{ pic }}" alt="Picture of {{ title }}">
  </div>
  {% endif %}
  <div class="person-desc">{{description}}</div>
</div>
{% endblock %}
